body {
  margin: 0;
}

nav {
  
}

#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-areas: "sidebar hero"
             "sidebar portfolio"
             "sidebar contact";
}

#sidebar {
  grid-area: sidebar;
  background-color: blanchedalmond;
  display: flex;
  position: fixed;
  top: 50%;
  left: 4%;
}

#hero-container {
  grid-area: hero;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: pink;
  display: flex;
  text-align: center;
  align-items: center;
}

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid-area: portfolio;
  background-color: salmon;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid-area: contact;
  background-color: mediumaquamarine;
}

img {
  height: 250px;
}

h2 {
  margin: 0;
}

