body {
  margin: 0;
  overflow-x: hidden;
  background-color: #FBF3DA;
}

nav {
  
}

ul {
  list-style-type: none;
}

.project-card {
  display: flex;
}

#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-areas: "sidebar hero"
             "sidebar portfolio"
             "sidebar contact";
}

#sidebar {
  grid-area: sidebar;
  background-color: #FBF3DA;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

#hero-container {
  grid-area: hero;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: pink;
  display: flex;
  text-align: center;
  align-items: center;
}

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid-area: portfolio;
  background-color: salmon;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid-area: contact;
  background-color: mediumaquamarine;
}

img {
  height: 250px;
}

h2 {
  margin: 0;
}

