body {
  margin: 0;
}

header {

}

li {
  list-style-type: none;
  display: inline;
  float: left;
  padding-left: 5px;
}

section {
  margin-bottom: 0;
}

.container {
  display: grid;
  position: relative;
  margin: auto;
  max-width: 1100px;
  grid-template-areas: "head head"
                       "hero hero"
                       "portfolio portfolio"
                       "contact contact"
                       "footer footer";
  grid-template-rows: 10% 1fr 1fr 1fr 0.5fr;
  grid-template-columns: 20% 80%;
  /* grid-gap: 1.1rem; */
}

.flex-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: pink;
  grid-area: head;
}

.hero {
  background-color:sandybrown;
  grid-area: hero;
  text-align: center;
}

.portfolio {
  background-color: seagreen;
  grid-area: portfolio;
}

.contact {
  background-color: steelblue;
  grid-area: contact;
}

.item-one {
  background-color: sandybrown;
}

.item-two {
  background-color: seagreen;
}

footer {
  grid-area: footer;
  background-color: powderblue;
}